.text-input {
    width: 100%;
}

label {
    margin-bottom: 20px;
    color: #0A033C;
}

input {
    height: 40px;
    width: 60%;
    border: 0.5px solid grey;
    border-radius: 10px;
    margin-bottom: 16px;
    padding-left: 40px;

}

.container-for-input {
    display: flex;
    align-items: center;
    position: relative;
}

.custom-icon {
    position: absolute;
    left: 15px;
    top: 15px;

}